raporkuAPP/Connected Services/RaporServiceAzure/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://raporservice.azurewebsites.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://raporservice.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://raporservice.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RaporService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKelas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKelas" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKelas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKelasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMapel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapel" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMapel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRapot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRapot" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRapot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRapotResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiswa" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiswaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWaliKelas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaliKelas" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWaliKelas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaliKelasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWalikelas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWalikelas" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWalikelas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWalikelasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKelasSiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKelasSiswa" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKelasSiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKelasSiswaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNilaiRapot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNilaiRapot" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNilaiRapot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNilaiRapotResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataKelas_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataKelas" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataKelas_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataKelasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataMapel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataMapel" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataMapel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataMapelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataRapot_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataRapot" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataRapot_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataRapotResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataSiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataSiswa" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataSiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataSiswaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataWaliKelas_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataWaliKelas" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataWaliKelas_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataWaliKelasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDataWaliKelas_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataWaliKelas" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDataWaliKelas_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataWaliKelasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatedatasiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:updatedatasiswa" />
  </wsdl:message>
  <wsdl:message name="IService1_updatedatasiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatedatasiswaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAdmin" message="tns:IService1_GetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAdminResponse" message="tns:IService1_GetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKelas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetKelas" message="tns:IService1_GetKelas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetKelasResponse" message="tns:IService1_GetKelas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMapel" message="tns:IService1_GetMapel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMapelResponse" message="tns:IService1_GetMapel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRapot">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRapot" message="tns:IService1_GetRapot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRapotResponse" message="tns:IService1_GetRapot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSiswa" message="tns:IService1_GetSiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSiswaResponse" message="tns:IService1_GetSiswa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaliKelas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWaliKelas" message="tns:IService1_GetWaliKelas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWaliKelasResponse" message="tns:IService1_GetWaliKelas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginAdmin" message="tns:IService1_LoginAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginAdminResponse" message="tns:IService1_LoginAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWalikelas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWalikelas" message="tns:IService1_GetWalikelas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWalikelasResponse" message="tns:IService1_GetWalikelas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKelasSiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetKelasSiswa" message="tns:IService1_GetKelasSiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetKelasSiswaResponse" message="tns:IService1_GetKelasSiswa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNilaiRapot">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNilaiRapot" message="tns:IService1_GetNilaiRapot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNilaiRapotResponse" message="tns:IService1_GetNilaiRapot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataKelas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDataKelas" message="tns:IService1_AddDataKelas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDataKelasResponse" message="tns:IService1_AddDataKelas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataMapel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDataMapel" message="tns:IService1_AddDataMapel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDataMapelResponse" message="tns:IService1_AddDataMapel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataRapot">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDataRapot" message="tns:IService1_AddDataRapot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDataRapotResponse" message="tns:IService1_AddDataRapot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataSiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDataSiswa" message="tns:IService1_AddDataSiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDataSiswaResponse" message="tns:IService1_AddDataSiswa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataWaliKelas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDataWaliKelas" message="tns:IService1_AddDataWaliKelas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDataWaliKelasResponse" message="tns:IService1_AddDataWaliKelas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataWaliKelas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDataWaliKelas" message="tns:IService1_UpdateDataWaliKelas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDataWaliKelasResponse" message="tns:IService1_UpdateDataWaliKelas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatedatasiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatedatasiswa" message="tns:IService1_updatedatasiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatedatasiswaResponse" message="tns:IService1_updatedatasiswa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>