raporkuAPP/Connected Services/RaporServiceAzure/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://raporservice.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RaporService" />
  <xs:element name="GetAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetAdminResult" nillable="true" type="q1:ArrayOfAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKelas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetKelasResult" nillable="true" type="q2:ArrayOfKelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetMapelResult" nillable="true" type="q3:ArrayOfMapel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRapot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRapotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetRapotResult" nillable="true" type="q4:ArrayOfRapot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiswa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiswaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetSiswaResult" nillable="true" type="q5:ArrayOfSiswa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaliKelas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaliKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetWaliKelasResult" nillable="true" type="q6:ArrayOfWaliKelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="LoginAdminResult" nillable="true" type="q7:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWalikelas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWalikelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetWalikelasResult" nillable="true" type="q8:WaliKelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKelasSiswa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKelasSiswaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetKelasSiswaResult" nillable="true" type="q9:ArrayOfSiswa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNilaiRapot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNilaiRapotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="GetNilaiRapotResult" nillable="true" type="q10:ArrayOfRapot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataKelas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="dp" nillable="true" type="q11:Kelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataKelasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataMapel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="dp" nillable="true" type="q12:Mapel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataMapelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataMapelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataRapot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="dp" nillable="true" type="q13:Rapot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataRapotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataRapotResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataSiswa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="dp" nillable="true" type="q14:Siswa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataSiswaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataSiswaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataWaliKelas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="dp" nillable="true" type="q15:WaliKelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataWaliKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataWaliKelasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataWaliKelas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="dp" nillable="true" type="q16:WaliKelas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataWaliKelasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDataWaliKelasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatedatasiswa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RaporService" minOccurs="0" name="dp" nillable="true" type="q17:Siswa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatedatasiswaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatedatasiswaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>